<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>
<table>
  <% @authors.each do |author| %>
    <tr>
      <td>
        <%= author.name %>  
      </td>
      <td>
        <%= link_to "Show", author_path(author) %> 
      </td>
    </tr>
  <% end %>
</table>
