<div class="container">
  <p>
    <h4>
     <%= @author.name %> 
    </h4>
    <p>
      <%= @author.dob %>
    </p>
    <p> Books Title
      <ul>
        <% @author.books.each do |book| %>
          <li>
            <%= book.title %>
          </li>
        <% end %>
      </ul>
    </p>
  </p>  
</div>
