// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 80%;
  margin: auto;
}

body{
  background-color:#f4f4f4;
  color:#555;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight:normal;
  /*same as above*/
  font: 16px, normal, Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  /*margin: 0px;*/
  /*margin-top: 20px;
  margin-bottom:20px;*/
  margin: 20px 0px 0px 0px;
}

a{
    text-decoration: none;
    color:#000;
}

.button{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:0;
}

tr{
  height: 50px;
}

.navbar-text {
  text-align: left;
  margin-left: 70px;
}

.pull-right {
  text-align: right;
  margin-right: 70px;
}
